@model GigsViewModel

<h1>@Model.Heading</h1>

<form asp-controller="Gigs" asp-action="Search" method="post">
	<div class="form-group col-md-4">
		<div class="input-group">
			<input asp-for="SearchTerm" type="text" class="form-control" placeholder="Search by artist, genre, venue" />
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>
	</div>
</form>

<ul id="gigs" class="mt-5">
	@foreach (var gig in Model.UpcomingGigs)
	{
		<li>
			<div class="date">
				<div class="month">
					@gig.DateTime.ToString("MMM")
				</div>
				<div class="day">
					@gig.DateTime.Day.ToString("d")
				</div>
			</div>
			<div class="details">
				<span class="artist">
					<a asp-controller="Gigs" asp-action="Details" asp-route-gigId="@gig.Id" class="btn-link">@gig.Artist.Name</a>

					@if (gig.IsCanceled)
					{
						<span class="badge badge-warning">Canceled</span>
					}

					@if (Model.ShowActions)
					{
						<button class="btn btn-sm btn-link js-toggle-follow" data-user-id="@gig.ArtistId">Follow</button>
					}
				</span>
				<span class="genre">
					@gig.Genre.Name
				</span>

				@if (Model.ShowActions && !gig.IsCanceled)
				{
					<button data-gig-id="@gig.Id"
							class="btn
							@(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-light")
							btn-sm float-right js-toggle-attendance" data-gig-id="@gig.Id">
						Going?
					</button>
				}
			</div>
		</li>
	}
</ul>

@section scripts {
	<script>
		$(document).ready(function () {
			$(".js-toggle-attendance").click(function (e) {
				var button = $(e.target);

				if (button.hasClass("btn-light")) {
					$.ajax(
						{
							url: "/api/attendances",
							method: "POST",
							contentType: "application/json",
							data: JSON.stringify({
								gigId: button.attr("data-gig-id")
							})
						})
						.done(function () {
							button
								.removeClass("btn-light")
								.addClass("btn-info")
								.text("Going");
						})
						.fail(function () {
							alert("Something failed!");
						});
				} else {
					$.ajax({
						url: "/api/attendances/" + button.attr("data-gig-id"),
						method: "DELETE"
					})
						.done(function () {
							button.removeClass("btn-info")
								.addClass("btn-light")
								.text("Going?");
						})
						.fail(function () {
							alert("Something failed.");
						});
				}
			});

			$(".js-toggle-follow").click(function (e) {
				var button = $(e.target);

				$.ajax(
					{
						url: "/api/followings",
						method: "POST",
						contentType: "application/json",
						data: JSON.stringify({
							followeeId: button.attr("data-user-id")
						})
					})
					.done(function () {
						button.text("Following");
					})
					.fail(function () {
						alert("Something failed!");
					});
			});
		});
	</script>
}
