@model GigHub.Web.ViewModels.GigsViewModel

<h1 class="pl-3">@Model.Heading</h1>

<form asp-controller="Gigs" asp-action="Search" method="post">
	<div class="form-group col-lg-4 mt-4">
		<div class="input-group">
			<input asp-for="SearchTerm" type="text" class="form-control" placeholder="Search by artist, genre, venue" />
			<div class="input-group-append">
				<span class="input-group-text">
					<i class="fa fa-search"></i>
				</span>
			</div>
		</div>
	</div>
</form>

<ul id="gigs" class="mt-5">
	@foreach (var gig in Model.UpcomingGigs)
	{
		<li>
			<div class="date">
				<div class="month">
					@gig.DateTime.ToString("MMM")
				</div>
				<div class="day">
					@gig.DateTime.Day.ToString("d")
				</div>
			</div>
			<div class="details">
				<span class="artist">
					<a asp-controller="Gigs" asp-action="Details" asp-route-gigId="@gig.Id" class="btn-link">@gig.Artist.Name</a>

					@if (gig.IsCanceled)
					{
						<span class="badge badge-warning">Canceled</span>
					}
				</span>

				<span class="genre">
					@gig.Genre.Name
				</span>

				@if (Model.ShowActions && !gig.IsCanceled)
				{
					var isGoing = Model.UserAttendance.Contains(gig.Id);

					<button class="btn @(isGoing? "btn-info" : "btn-light")
							btn-sm js-toggle-attendance" data-gig-id="@gig.Id">
						@(isGoing ? "Going" : "Going?")
					</button>
				}
			</div>
		</li>
	}
</ul>

@section scripts {
	<script>
		$(document).ready(function () {
			GigsController.init("#gigs");
		});
	</script>
}
